<button><%=link_to "Calendar view", @link, method: 'get' %></button>

<button><%=link_to "Create a new trip", new_trip_path%></button>

<button><%=link_to "Go back to main", places_path %></button>

<div class="trips_container">
  <%if @trips != nil %>
    <% @trips.each do |trip| %>
    <div class="trip_card">
      <img class="trip_image" src="https://raw.github.com/Magnus-G/Random/master/mountains.png" alt="">
      <div class="trip_text">
        <div class="trip_title">
          <%=link_to trip.name, trip_path(:id => trip.id)%>
        </div>
      <ul class="trip_info">
        <li><p><%= trip.description %></p></li>
        <li><p>Starting on:<%= trip.from_date %></p></li>
        <li><p>Ends on:<%= trip.to_date %></p></li>
      </ul>
      </div>
    </div>
    <% end %>
  <% else %>
    <p><%= "Sorry no results found!" %></p>
  <% end %>
</div>
