Welcome! This is the Trips index page

<ul>
<% @trips.each do |trip| %>
	<li>
		<h3>
			<% trip_title = Activity.find(trip.activity_id).activity_name + " in " + Place.find(trip.place_id).city %>
			<%=link_to trip_title, trip_path(:id => trip.id)%>
		</h3>
		From Date: <%= trip.from_date %><br/>
		To Date: <%= trip.to_date %><br/>
	</li>
<% end %>
</ul>

<button><%=link_to "Create a new trip", new_trip_path%></button>

<button><%=link_to "Go back to main", places_path %></button>


<% if user_signed_in? && current_user %>
  <button>
    <%= link_to "Edit my profile", edit_profile_path(id: Profile.where(user_id: current_user.id).first.id) %>
  </button>
<% end %>

