<h1><%= @trip.name %></h1>

Organized by: <%= link_to User.find(@trip.organizer).username, profile_path(:id => Profile.where(user_id: @trip.organizer).first.user_id) %><br/>
From Date: <%= @trip.from_date %><br/>
To Date: <%= @trip.to_date %><br/>
Capacity: <%= @trip.capacity %><br/>

Status: <br/>
<% count = @trip.get_count_of_people %>
Pending: <%= count[:pending_people] %></br>
Confirmed: <%= count[:confirmed_people] %><br/>

<% review_members = @trip.reviewable? current_user %>
<% if review_members.length >= 2 %>
Review your tripmates:<br/>
  <% review_members.each do |profile| %>
    <% if profile != current_user.id %>
      <%=link_to User.find(profile).username, new_profile_review_path(:profile_id => Profile.where(user_id: profile).first) %><br/>
     <% end %>
  <% end %>
<% end %>

<% if @trip.joinable? current_user %>
<button>
	<%=link_to "Join this trip", trip_participations_path(:trip_id => @trip.id), method: 'post' %>
</button>
<% else %>
  <% flash[:notice] = "Sorry this trip is full!" %>
<% end %>

<% if @trip.organizer == current_user.id %>
<button>
  <%=link_to "Edit this trip", edit_trip_path(@trip.id) %>
</button>
<button>
  <%=link_to "Cancel this trip", trip_path(@trip.id), method: 'delete', confirm: 'Are you sure?' %>
</button>
<% end %>

<button>
	<%=link_to "See other trips in the same place", place_trips_path(@trip.place_id) %>
</button>
