This is the Trip show page

<h3><%= trip_title = Activity.find(@trip.activity_id).activity_name + " in " + Place.find(@trip.place_id).city %></h3>

Organized by: <%= link_to User.find(@trip.organizer).username, profile_path(:id => Profile.where(user_id: @trip.organizer).first.user_id) %><br/>
From Date: <%= @trip.from_date %><br/>
To Date: <%= @trip.to_date %><br/>
Capacity: <%= @trip.capacity %><br/>

Status: <br/>
Pending: <%= @pending_people %></br>
Confirmed: <%= @confirmed_people %><br/>

<% unless @review_members == nil %>
Review your tripmates:<br/>
  <% @review_members.each do |review| %>
    <%=link_to User.find(review).username, trip_participations_path(:trip_id => @trip.id), method: 'post' %><br/>
  <% end %>
<% end %>

<% if (@confirmed_people == nil) || @trip.capacity >= @confirmed_people %>
<button>
	<%=link_to "Join this trip", trip_participations_path(:trip_id => @trip.id), method: 'post' %>
</button>
<% else %>
  <%= "Sorry this trip is full!" %>
<% end %>

<button>
  <%=link_to "Edit this trip", edit_trip_path(@trip.id) %>
</button>

<button>
	<%=link_to "See other trips in the same place", place_trips_path(@trip.place_id) %>
</button>
