<h1>Edit your profile </h1>
<%= form_for @profile do |f| %>
  <div class="trip_form">
    <div class='profile_form_more'>
      <%= f.label :first_name %><%= f.text_field :first_name %>
      <%= f.label :surname %> <%= f.text_field :surname %>

      <%= f.label :avatar, "Profile photo" %>
      <%= f.file_field :avatar, :class =>'img_upload'%>

      <%= f.label "Where do you live?" %>
      <%= f.text_field :hometown %>

      <%= f.label "When is your birthday?" %>
      <%= f.date_field :birthday %>

      <%= f.label "What do you do?" %>
      <%= f.text_field :occupation %>

      <%= f.label "What do you speak?" %>
      <%= f.text_field :languages, value: @profile.languages.join(',') %>
    </div>
    <div class='profile_links'>
      <h3>Just fill in your usernames and blog link!</h3>
      <div class='link_item'>
        <%= image_tag("facebook.png") %><%= f.text_field :facebook %></div>
      <div class='link_item'>
        <%= image_tag("twitter.png") %><%= f.text_field :twitter %></div>
      <div class="link_item">
        <%= image_tag("instagram.png") %><%= f.text_field :instagram %></div>
      <div class="link_item">
        <%= image_tag("google.png") %><%= f.text_field :google %></div>
      <div class="link_item">
        <%= image_tag("blog.png") %><%= f.text_field :blog %></div>
      <div class="link_item">
        <%= f.label :others, :class => 'others_link' %><%= f.text_field :others %></div>
    </div>
  </div>
  <%= f.submit "Save", :class => 'form_submit' %>
<% end %>
