<h1>Edit your profile </h1>

<%= form_for @profile do |f| %>
  <%= f.label "What's your name?" %>
  First name: <%= f.text_field :first_name %>
  Last name: <%= f.text_field :surname %>

  <%= f.label "Where do you live?" %>
  <%= f.text_field :hometown %>

  <%= f.label "When is your birthday?" %>
  <%= f.date_field :birthday %>

  <%= f.label "What do you do?" %>
  <%= f.text_field :occupation %>

  <%= f.label "What do you speak?" %>
  <%= f.text_field :languages, value: @profile.languages.join(',') %>

  <h3>Share your links:</h3>
  <%= f.label "Facebook" %><%= f.text_field :facebook %>
  <%= f.label "Twitter" %><%= f.text_field :twitter %>
  <%= f.label "Instagram" %><%= f.text_field :instagram %>
  <%= f.label "Google+" %><%= f.text_field :google %>
  <%= f.label "Blog" %><%= f.text_field :blog %>
  <%= f.label "Others" %><%= f.text_field :others %>

  <%= f.submit "Save" %>
<% end %>
