This is the profile show page
<br/>
First name <%= @profile.first_name %><br/>
Last name <%= @profile.surname %><br/>
Rating <%= @profile.rating %><br/>
Occupation <%= @profile.occupation %><br/>
Birthday <%= @profile.birthday %><br/>
Hometown <%= @profile.hometown %><br/>
Languages <%= @profile.languages.join(",") %><br/>
<br/>
Links:<br/>
Facebook <%= @profile.facebook %><br/>
Twitter <%= @profile.twitter %><br/>
Instagram <%= @profile.instagram %><br/>
Google <%= @profile.google %><br/>
Blog <%= @profile.blog %><br/>
Others <%= @profile.others %><br/>

Previous trips completed:<br/>
<% @profile_trips.each do |key, value| %>
<%= link_to key, trip_path(value) %></br>
<% end %>

<% @reviews.each do |review| %>
  <%= review.content %><br/>
  by <%= User.find(review.author_id).username %><br/><br/>
<% end %>

<% if @profile.user_id == current_user.id %>
  <button><%= link_to "Edit my profile", edit_profile_path(@profile.id) %></button>
<% end %>
