<h3>Hello there! <%= @joiner.fullname %></h3>

<p><%= @organizer.username %> just added you to his trip:</p>
<h4><%= @activity %> in <%= @city %></h4>

<p>You can see the trip details below:</p>
<button><%= link_to "Show me this trip!", @link %></button>

<p>Thanks a lot!</p>