<%= form_for @trip do |f| %>
  <div class="trip_form">
    <div class='trip_form_place'>
      <%= f.label "Where do you want to go?" %>
      <%= f.text_field :place, :value => (@trip.place == nil ? params[:place] : @trip.place.city) %>
    </div>
    <div class='trip_form_activity'>
      <label>What do you want to do?</label>
      <ul id='activity_list'>
        <% @activities.each do |a| %>
        <li>
          <%= f.radio_button :activity, a.activity_name %>
          <label for='trip_activity_#{a.activity_name}'><%= a.activity_name %>
            <%= image_tag("#{a.activity_name}.png",:id => "listed #{a.activity_name}") %>
            </label>
          </li>
        <% end %>
      </ul>
      <div class='addtl_activity'>
        <label>Or create your own activity:</label>
        <%= f.text_field :activity_create, :value => (@trip.activity == nil ? params[:activity_create] : @trip.activity.activity_name)  %>
      </div>
    </div>
    <div class='trip_form_more'>
      <%= f.label "Starting on?" %>
      <%= f.date_field :from_date %>

      <%= f.label "Until when?" %>
      <%= f.date_field :to_date %> <br/>

      <%= f.label "How many people do you need?" %>
      <%= f.text_field :capacity %>

      <%= f.label "Write something about your trip" %>
      <%= f.text_area :description %>
    </div>
  </div>
  <%= f.submit "Save", :class => 'form_submit' %>
<% end %>

