<ul class="accordion">
  <li = "accordion_first">
    <a href="javascript:void(0)" class="js-accordion-trigger">Browse</a>
    <ul class="submenu">
      <li><%= link_to "by City", places_path %></li>
      <li><%= link_to "by Activity", activities_path %></li>
    </ul>
  </li>
  <li class="accordion_first">
    <a href="javascript:void(0)" class="js-accordion-trigger">Search</a>
    <ul class="submenu">
      <li>
      <div class="search-bar">
        <div class="search-and-submit">
          <%= form_for @search do |f| %>
            <%= f.label "Find by city or activity", :class => "search_label" %>
            <%= f.text_field :keyword, type: "search", placeholder: "Enter search" %>
            <%= f.submit "Find me a trip!"%>
        </div>
      </div>
      <% end %>
      </li>
    </ul>
  </li>
  <% if user_signed_in? && current_user %>
  <li class="accordion_first">
    <a href="javascript:void(0)" class="js-accordion-trigger">Profile</a>
    <ul class="submenu">
      <li><%= link_to "View my profile", profile_path(id: Profile.where(user_id: current_user.id).first.id) %></li>
      <li><%= link_to "Edit my profile", edit_profile_path(id: Profile.where(user_id: current_user.id).first.id) %></li>
    </ul>
  </li>
  <% end %>
  <li = "accordion_first">
    <a href="javascript:void(0)" class="js-accordion-trigger">Trips</a>
    <ul class="submenu">
      <li><%=link_to "Create a new trip", new_trip_path%></li>
      <li><%= link_to "View my trips", my_trips_path, method: 'get' %></li>
    </ul>
  </li>
</ul>

<script>
  jQuery('.js-accordion-trigger') // find the trigger
    .bind('click', function(){
      jQuery(this).parent().find('.submenu').slideToggle('fast');  // apply the toggle to the ul
      jQuery(this).parent().toggleClass('is-expanded');
      event.preventDefault();
  });
</script>
