<h1>Review your trip mate </h1>

<div class='make_review'>
<%= form_for [@profile, @review] do |f| %>
  <p>You are reviewing: </p>
    <h3><%= @reviewee.username %> </h3> <p>for trip:</p>
    <%= f.select :trip, options_for_select(@common_trips) %>
  <%= f.label "Please leave an honest review" %>
  <%= f.text_field :content %>
  <%= f.label "How would you rate this person?" %>

  <div class='rating_range'>
  <span class='rating_score'>1</span><%= f.range_field :rating, in: 1..10 %><span class='rating_score'>10</span></div>
  <%= f.button :submit %>
<% end %>
</div>
